* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
}

body {
    color: #333;
    font-family: 'Nanum Gothic', sans-serif;
}

.wrap {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
    user-select: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.blind {
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
}

.blank {
    height: 85px;
}